[submodule "libraries/GSL"]
	path = libraries/GSL
	url = git@github.com:microsoft/GSL.git
[submodule "libraries/jsoncpp"]
	path = libraries/jsoncpp
	url = git@github.com:open-source-parsers/jsoncpp.git
